*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: black; }

ul li {
  list-style-type: none; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

img {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px; }

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: auto; }

.container {
  max-width: 1186px;
  margin: 0 auto; }

header {
  background-color: #1777ce;
  padding: 18px 10px 0 18px; }
  header .container {
    display: flex;
    flex-direction: column; }

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3%; }

nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav a {
    font-size: 18px;
    color: #fff; }
    nav a:hover {
      font-weight: bold; }

.heading-block {
  display: flex;
  justify-content: space-around;
  align-items: center; }

h1 {
  font-size: 78px;
  line-height: 85px;
  color: white;
  font-weight: 500;
  margin-top: 25%; }

h1:before {
  content: "";
  display: block;
  width: 70px;
  height: 10px;
  border-top: 2px solid white; }

.h1-after {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: white; }

.h1-after:after {
  content: "";
  display: block;
  width: 70px;
  height: 10px;
  border-bottom: 2px solid white; }

.slogan {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 33%; }

.right-block {
  margin-bottom: -9%; }

.introduction-block {
  padding: 85px 20px 100px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.introduction-text {
  max-width: 76%; }
  .introduction-text h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 5%; }
  .introduction-text h3 {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 5%;
    margin-bottom: 2%; }

.intro {
  font-size: 14px;
  line-height: 24px;
  margin-top: 3%; }

.intro-2 {
  margin-bottom: 4%; }

h3:before {
  content: "";
  display: block;
  width: 70px;
  height: 15px;
  border-top: 2px solid black; }

h3:after {
  content: "";
  display: block;
  width: 70px;
  height: 15px;
  border-bottom: 2px solid black; }

.screen-3 {
  background-color: #1777ce; }

.market-text {
  text-align: center;
  max-width: 65%;
  margin-bottom: 7%; }

.market-block {
  padding: 70px 83px 0 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .market-block h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3%; }

.market-preview {
  font-size: 14px;
  line-height: 24px;
  color: white; }

.market-statistic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.market-fact {
  text-align: center;
  width: 26%;
  margin-bottom: 8%; }
  .market-fact h4 {
    font-size: 24px;
    line-height: 24px;
    color: white; }
  .market-fact p {
    font-size: 18px;
    color: white;
    margin-top: 4%; }
  .market-fact h4:after {
    content: "";
    display: block;
    margin: auto;
    height: 15px;
    width: 40px;
    border-bottom: 2px solid white; }

.coins {
  font-size: 0;
  line-height: 0; }

.coins:after {
  content: "";
  display: block;
  margin: auto;
  height: 15px;
  width: 40px;
  border-bottom: 2px solid white; }

.opportunity-block {
  padding: 40px 103px 0;
  display: flex;
  justify-content: space-between; }

.opportunity-text {
  max-width: 76%; }
  .opportunity-text h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 5%; }
  .opportunity-text p {
    margin-top: 4%; }

.opportunity-img {
  margin-left: 4%;
  text-align: center; }

@media (max-width: 990px) {
  nav a {
    font-size: 16px; }

  h1 {
    margin-top: 0; }

  .slogan {
    text-align: center;
    margin-top: 10%; } }
@media (max-width: 840px) {
  nav {
    flex-wrap: wrap;
    justify-content: space-evenly; }
    nav a {
      margin-right: 3%; }

  h1 {
    font-size: 65px; }

  .h1-after {
    font-size: 20px; }

  .introduction-block {
    flex-direction: column-reverse; }

  .market-text {
    max-width: 100%; }

  .market-fact {
    width: 50%; }
    .market-fact h4 {
      font-size: 22px; }
    .market-fact p {
      font-size: 14px; }

  .opportunity-block {
    flex-direction: column; }

  .opportunity-text {
    max-width: 100%;
    text-align: center; } }
@media (max-width: 500px) {
  .header-top {
    flex-direction: column; }
    .header-top .logo {
      border-bottom: 2px solid white;
      margin-bottom: 5%; }

  nav {
    flex-direction: column; }

  .heading-block {
    flex-direction: column; }

  .left-block {
    text-align: center; }

  h1:before,
  .h1-after:after {
    display: none; }

  .slogan {
    margin-top: 5%;
    margin-bottom: 5%; }

  .market-block {
    padding: 20px 20px 0 20px; }

  .market-fact {
    width: 100%; }

  .opportunity-block {
    padding: 20px 20px 0 20px; } }

/*# sourceMappingURL=styles.css.map */
